:root{
    --color-one: #355F2E;
    --color-two: #f5edd6;
    --color-three: #A8CD89;
    --color-four: #F9C0AB;
    --color-five: #d9c3bb;
}

body{
    margin: 0;
    color: var(--color-one);
}

#products{
    display: flex;
    gap: 30px;
    list-style-type: none;
    text-align: center;
}

#products li{
    border: solid var(--color-one) 2px;
    border-radius: 5px;
    padding: 10px;
    flex-basis: 600px;
}

nav, main, header, footer{
    padding: 20px 70px;
}

nav a, #potm, footer{
    text-align: center;
}

footer{
    background-color: var(--color-three);
    border-top: solid var(--color-one) 2px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-three);
    border-bottom: solid var(--color-one) 2px;
}

nav a{
    color: var(--color-one);
    font-weight: bold;
}

main{
    background-color: var(--color-two);
}

header{
    background-color: var(--color-four);
    color: var(--color-one);
}

section{
    padding: 10px;
    border-top: solid var(--color-one) 1px;
    border-bottom: solid var(--color-one) 1px;
    margin-bottom: 10px;
}

h1{
    text-decoration: underline;
}

h1, h2, h3, footer p{
    margin: 0;
}

p{
    margin-top: 0;
}

#image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid var(--color-one) 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#image div{
    padding: 10px;
    flex-basis: 70%;
}

#image div:not(:first-child){
    text-align: center;
    flex-basis: 30%;
}

#image img{
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
}

#image p{
    margin: 0;
}

@media only screen and (max-width: 600px) {
    main, #image, #products{
        flex-direction: column;
    }
    #products li{
        flex-basis: 30%;
    }
    main{
        display: flex;
    }
}
