body{
    margin: 0;
    color: #093936de;
}

nav, main, div{
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

nav a{
    color: #093936de;
    font-weight: bold;
}

main{
    background-color: #f7f7f7;
}

div{
    float: right;
}

div img{
    width: 300px;
}

div p{
    margin: 0;
}